:root {
    --white: #ffffff;
    --red-50: #fef2f2;
    --red-200: #fecaca;
    --red-400: #f87171;
    --red-500: #ef4444;
    --slate-100: #f1f5f9;
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: #1e293b;
    --slate-900: #0f172a;
}

* {
    font-family: 'Rubik', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.grid {
    height: 100vh;
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    grid-template-areas: 'sidebar header'
                         'sidebar main-content';
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.sidebar,
.header {
    background-color: var(--red-50);
}

.sidebar {
    grid-area: sidebar;
    box-sizing: border-box;
    padding: 1.5rem;
}

.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
    color: var(--slate-800);
}


.logo-image {
    max-width: 30px;
    max-height: auto;
}

.sidebar > ul {
    min-width: max-content;
    margin: 20px 0.6px;
    padding-left: 0.2rem;
    color: var(--slate-800);
}

.sidebar > ul > li {
    padding: 0.7rem 0;
    min-width: 150px;
}

.sidebar > ul > li:hover,
.sidebar > ul > li:focus{
    border-radius: 20px;
    background-color: var(--red-200);
}

.sidebar > ul > li > a {
    margin-left: 0.5rem;
}

.sidebar > ul > li > a,
.sidebar > ul > li > p{
    display: flex;
    align-items: center;
    min-width: max-content;
    gap: 17px;
}

.sidebar-icon {
    max-width: 20px;
    max-height: auto;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: 'search-container user-profile'
                         'user-welcome  post-options';
    background-color: var(--slate-100);
}

.search-container {
    grid-area: search-container;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 9fr;
    grid-template-areas: 'search-icon search-bar';
    padding: 1rem 2rem 0rem 2rem;
    gap: 10px;
}

.search-icon {
    justify-self: center;
    grid-area: search-icon;
    width: 20px;
    margin-right: 3%;
    margin-left: 3%;
}

input[type='search'] {
    grid-area: search-bar;
    width: 95%;
    padding: 10px;
    padding-left: 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: var(--red-200);
}

/* In Chrome, this clears the 'x' from the search input*/
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input[type='search']:hover,
input[type='search']:focus {
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);;
}

.user-profile {
    grid-area: user-profile;
    display: grid;
    justify-items: end;
    align-items: center;
    grid-template-columns: minmax(20px, 4fr) 1fr min-content;
    padding: 1rem 2rem 0rem 2rem;
}

.alerts-icon {
    padding-right: 1rem;
    width: 20px;
}

.profile-image-container {
    padding-right: 0.5rem;
}

.profile-image {
    max-width: 50px;
    max-height: auto;
    border-radius: 50%;
}

.user-profile div:last-child {
    justify-self: start;
    color: var(--slate-700);
}

.user-welcome {
    grid-area: user-welcome;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-areas: 'profile-image-welcome user-welcome-div';
    padding: 0.5rem 2rem;
    gap: 6px;
}

.user-welcome > img {
    grid-area: profile-image-welcome;
    align-self: center;
    width: 70px;
    min-width: 40px;
    border-radius: 50%;
}

.user-welcome > div {
    grid-area: user-welcome-div;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 0.8rem;
}

.user-welcome > div > span {
    font-size: 1.3rem;
}

.user-welcome > h2 {
    grid-area: user-welcome-h2;
}

.post-options {
    grid-area: post-options;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    align-items: center;
    padding: 0.5rem 2rem;
}

.post-options > button {
    width: 80px;
    min-width: 60px;
    border: none;
    border-radius: 30px;
    padding: 0.5rem;
    color: white;
    background-color: var(--red-400);
}

.post-options > button:hover,
.post-options > button:focus {
    background-color: var(--red-500);
}

.main-content {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 3fr 1fr;

    /* Setting to min-content on the first row
    stops the trending container from jumping too far down
    the page when the page is resized smaller.*/
    grid-template-rows: min-content 1fr; 
    grid-template-areas:'project-header-items-container announcements-container'
                        'project-header-items-container trending-container' ;
    padding: 1.5rem 1rem;
    gap: 1rem;
    background-color: var(--slate-100);
}

.announcements-header,
.trending-header,
.projects-header {
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--slate-800);
    background-color: var(--slate-100);
}

.project-header-items-container {
    grid-area: project-header-items-container;
}

.project-items-container {
    grid-area: project-items-container;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.project-items {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: max-content max-content 1fr;
    grid-template-areas: 'project-img project-img'
                         'project-text project-text'
                         '. project-icon-box';
    min-height: 180px;
    padding: 1rem 1.5rem;
    gap: 10px;
    border: 1px solid transparent;
    transition: 0.3s ease-in-out;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.075);
    background-color: var(--white)
}

.project-items:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.project-items > div:nth-of-type(2) > p,
.announcement-items > div > p,
.trending-items > div > div > p {
    line-height: 1.4;
}

.project-items > div:first-of-type {
    grid-area: project-img;
    height: 80px;
    min-height: 40px;
    margin-bottom: 10px;
    background-size: 100%;
    border-radius: 8px;
}

.project-items > div:nth-of-type(2) {
    grid-area: project-text;
}

.project-items > div:nth-of-type(2) > h4 {
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--slate-700);
}

.project-items > div:nth-of-type(2) > p {
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: var(--slate-500);
}

.project-items div:nth-of-type(3) {
    grid-area: project-icon-box;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.project-items > div > img {
    max-width: 20px;
    max-height: auto;
}

.announcements-container,
.trending-container {
    min-width: min-content;
}

.announcement-items,
.trending-items {
    padding: 0rem 1.5rem;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.075);
}

.announcement-items > div:not(.divider),
.trending-items > div:not(.divider) {
    padding: 1.5rem 0rem;
}

.announcements-container {
    grid-area: announcements-container;
}


.announcement-items {
    grid-area: announcement-items;
    background-color: var(--white);
}

.announcement-items > div > h5 {
    margin-bottom: 0.3rem;
    font-weight: 400;
    color: var(--slate-700);
}

.announcement-items > div > p {
    font-size: 0.8rem;
    color: var(--slate-500);
}

.divider {
    width: 100%;
    height: 0.01rem;
    background-color: var(--slate-900);
}

.trending-container {
    grid-area: trending-container;
    height: max-content;
}

.trending-header {
    grid-area: trending-header;
}

.trending-items {
    grid-area: trending-items;
    background-color: var(--white)
}

.trending-items > div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.trending-items > div > img {
    max-width: 50px;
    max-height: auto;
    border-radius: 50%;
}

.trending-items > div > div > p:first-of-type {
    margin-bottom: 0.1rem;
    font-size: 0.8rem;
    color: var(--slate-700);
}

.trending-items > div > div > p:nth-of-type(2) {
    font-size: 0.9rem;
    color: var(--slate-500);
}